:root {
    --navbar: #343a40;
    --background: #464e56;
    /* Text and border color */
    --text-border: #fff;
    --text-faded: rgba(177, 177, 177, 0.5);
    --link-hover: rgba(234, 234, 234, 0.75);
    /* Transition and border size */
    --box-shadow-color: rgba(0, 0, 0, 0.5);
    --box-shadow-size: 2px 2px 0px;
    --transition-time: 1s;
}

.light-theme {
    --navbar: #F5EBE0;
    --background: #FEFCF3;
    --text-border: rgba(0, 0, 0, .9);
    --text-faded: rgba(0, 0, 0, 0.5);
    --link-hover: rgba(21, 21, 21, 0.954);
    --box-shadow-color: rgba(0, 0, 0, 0.5);
    transition: var(--transition-time);
}

body {
    background: var(--background);
    height: 100vh;
    width: 100%;
    transition: var(--transition-time);
}

.navbar {
    background: var(--navbar);
    border-bottom: 1px solid var(--text-border);
    box-shadow: var(--box-shadow-size) var(--box-shadow-color);
    transition: var(--transition-time);
}

.nav-link {
    color: var(--text-faded);
    transition: 0.6s;
}

.nav-link:hover {
    color: var(--link-hover);
}

.nav-link.active {
    color: var(--text-border);
}

.bi.bi-x-diamond {
    color: var(--text-border);
    transition: var(--transition-time);
}

.bi.bi-sun,
.bi.bi-moon {
    color: var(--text-border);
    margin-right: auto;
    cursor: pointer;
    transition: var(--transition-time);
}

.bi.bi-sun:hover {
    text-shadow: 1px 1px white;
}

.bi.bi-moon:hover {
    text-shadow: 1px 1px black;
}

.btn {
    color: var(--text-border);
    background-color: var(--background);
    border-color: var(--text-border);
    box-shadow: var(--box-shadow-size) var(--box-shadow-color);
    transition: 0.8s;
}

.btn:hover {
    background-color: var(--text-border);
    color: var(--background);
}

.table-responsive {
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid var(--text-border);
    box-shadow: var(--box-shadow-size) var(--box-shadow-color);
    transition: var(--transition-time);
}

.table {
    color: var(--text-faded);
    border-top: 10px solid transparent;
}

thead {
    color: var(--text-border);
}

td {
    min-width: 100px;
    max-width: 100px;
    overflow: hidden;
    /* text-shadow: 0 0 3px black; */
}

#second-table {
    color: var(--text-border);
    /* border-bottom: 1px solid var(--text-border); */
}

.modal-content {
    background-color: var(--navbar);
    border-color: var(--text-border);
    box-shadow: var(--box-shadow-size) var(--box-shadow-color);
    color: var(--text-border);
}

#player-name {
    border-radius: 0.25rem;
    background-color: var(--background);
    color: var(--text-border);
}

input::placeholder {
    color: var(--text-border);
}

#circle-container {
    position: absolute;
    transform: translate(-50%, -50%);
    user-select: none;
}

.dot1 {
    user-select: none;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: one 2s infinite;
    -o-animation: one 2s infinite;
    -webkit-animation: one 2s infinite;
    -ms-animation: one 2s infinite;
    -moz-animation: one 2s infinite;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    background-color: black;
}

.dot2 {
    user-select: none;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: two 2s infinite;
    -o-animation: two 2s infinite;
    -moz-animation: two 2s infinite;
    -webkit-animation: two 2s infinite;
    -ms-animation: two 2s infinite;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    background-color: #CD5C5C;
}

@keyframes one {
    0% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

@keyframes two {
    0% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    50% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

@media (max-width:512px) {
    #click-surface {
        height: 100%;
    }
}