html {
    height: 100%;
}

body {
    background-color: rgba(71, 149, 195, .4);
    background: radial-gradient(ellipse at top, #4795c3, transparent), radial-gradient(ellipse at bottom, #5d6755, transparent);
    background-repeat: no-repeat;
    height: 100%;
}


/* .container-fluid {
    border: 2px solid #C34795;
} */

#clicker {
    color: #e2ded0c7;
    border: 2px solid #C34795
    /* border-top: 2px solid #C34795;
    border-left: 2px solid #C34795;
    border-bottom: 2px solid #C34795; */
}

#click-inside {
    text-shadow: 1px 1px #C34795;
}

#table-holder {
    border-left: 2px solid #C34795;
}

#table-outer {
    text-shadow: 1px 1px #C34795;
}

#table-inner {
    color: #e2ded0c7;
    border-color: #C34795;
    max-height: 90vh;
    overflow: auto;
    display: inline-block;
    /* --table-width: 100%; */
}

#thead {
    border-bottom: 2px solid #C34795;
}

#your-score {
    border-bottom: 2px solid #C34795;
    color: #e2ded0c7;
    text-shadow: 1px 1px #C34795;
}

#text-name {
    background-color: transparent;
    border: 2px solid #C34795;
    color: #e2ded0c7;
}


/* .dot{
    position:absolute; 
    background-color:red;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    
} */

#circle-container {
    position: absolute;
    transform: translate(-50%, -50%);
    /* left:50%;
    top:50%; */
}

.dot1 {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: one 2s infinite;
    -o-animation: one 2s infinite;
    -webkit-animation: one 2s infinite;
    -ms-animation: one 2s infinite;
    -moz-animation: one 2s infinite;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    background-color: black;
}

.dot2 {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: two 2s infinite;
    -o-animation: two 2s infinite;
    -moz-animation: two 2s infinite;
    -webkit-animation: two 2s infinite;
    -ms-animation: two 2s infinite;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    background-color: #CD5C5C;
}

@keyframes one {
    0% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

@keyframes two {
    0% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    50% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

@media (max-width:768px) {
    .col-md-4 {
        overflow: auto;
        height: 99vh;
    }
    #circle-container {
        width: 20px!important;
        height: 20px!important;
    }
}