:root {
    --navbar: #343a40;
    --background: #464e56;
    --box-shadow-color: black;
    --box-shadow-size: 0 0 3px;
    /* Text and border color */
    /* --text-border: rgb(30, 28, 28); */
    --text-border: #fff;
    --text-faded: rgba(177, 177, 177, 0.5);
    --link-hover: rgba(234, 234, 234, 0.75);
    --card: #343a40;
    --transition-time: 1s;
}

.light-theme {
    --navbar: #ebd8c3;
    --background: #fff6ea;
    --text-border: rgba(0, 0, 0, 0.9);
    --text-faded: rgba(0, 0, 0, 0.5);
    --link-hover: rgba(21, 21, 21, 0.954);
    --card: #f7e9d7;
    transition: var(--transition-time);
}

body {
    background: var(--background);
    height: 100vh;
    width: 100%;
    transition: var(--transition-time);
}

.navbar {
    background: var(--navbar);
    transition: var(--transition-time);
}

.nav-link {
    color: var(--text-faded);
    transition: 0.6s;
}

.nav-link:hover {
    color: var(--link-hover);
}

.nav-link.active {
    color: var(--text-border);
}

.bi.bi-x-diamond {
    color: var(--text-border);
}

.bi.bi-sun,
.bi.bi-moon {
    margin-right: auto;
    color: var(--text-border);
    cursor: pointer;
    transition: 1s;
}

.col-xl {
    margin-bottom: 20px;
}

.card {
    background-color: var(--card);
    color: var(--text-border);
    height: 100%;
    /* position: relative; */
    transition: var(--transition-time);
}

.btn {
    /* position: absolute; */
    bottom: 20px;
    color: var(--text-border);
    border: 1px solid var(--text-border);
    transition: 0.8s;
}

.btn:hover {
    background-color: var(--text-border);
    color: var(--card);
}

/* @media (max-width: 1200px) {
    .btn {
        bottom: 10px;
    }
}

@media (max-width: 992px) {
    .btn-4 {
        position: relative;
        bottom: -15px;
    }
    .col-md-6 {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .btn {
        position: relative;
        bottom: 0;
    }
    .btn-1 {
        position: absolute;
        bottom: 20px;
    }
}

@media (max-width: 512px) {
    .btn {
        position: relative;
    }
    .btn-1 {
        position: absolute;
        bottom: 20px;
    }
} */
